<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.riddhi.ttcapplicationtest1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterPage" />
        <activity
            android:name=".CustomerAccountLayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity android:name=".ItemClaim" /> -->
        <!-- <activity android:name=".AddFountItems" /> -->
        <!-- <activity android:name=".ListDisplay" /> -->
        <activity android:name=".ModigyItem" />
        <!-- <activity android:name=".employer_list_view" /> -->
        <!-- <activity android:name=".ViewClaimList" /> -->
        <activity android:name=".CustomerViewDetailFoundList" />
        <activity
            android:name=".ValidateFoundItem"
            android:label="@string/title_activity_validate_found_item"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>